
@media only screen and (max-width: 991px) {

  .user-suggesion{
    display:none;
  }

 

}

@media only screen and (max-width:771px){

  .search-fiter{

    display:none;

  }


}

@media only screen and (max-width:629px){

  .full-page{
    overflow-x:scroll;
  }

}
